@import "../../content/scss/_modules";

.scrubberText {
    font-size: 14px;
}

.series-type__container {
    padding-left: $spacer*2;
    position: relative;
    top: -$spacer*2;

    .radio-inline {
        padding-right: $spacer/2;
    }
}

.busy-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}