$phone_height_breakpoint: 750px;
$phone_width_breakpoint: 470px;
$desktop_width_breakpoint: 1034px;

@mixin height-breakpoint($point) {
    @if $point == $phone_height_breakpoint {
        @media (max-height: $phone_height_breakpoint) {
            @content;
        }
    }
}

@mixin width-breakpoint($point) {
    @media (max-width: $point) {
        @content;
    }
}