//REGULAR
$spacer-vertical: 1vh;
$spacer-horizontal: 1vw;

$header_height: 4.5rem;
$header_bottom_margin: $spacer-vertical*3;

$indicators_height: 3.7rem;
$indicators_margin_bottom: $spacer-vertical*2;

$footer_height: 2.8rem;
$footer_margin_bottom: $spacer-vertical;

$content_margin_bottom: $spacer-vertical*3;
$content-height: calc(100vh -
    #{$header_height} -
    #{$content_margin_bottom} -
    #{$header_bottom_margin} -
    #{$footer_height} -
    #{$footer_margin_bottom});

$countries_width: 18rem;


//PHONE
$header_height_phone: $header_height/2;
$footer_height_phone: $footer_height/2;
$footer_margin_bottom_phone: 0px;
$content_height_phone: calc(99vh -
    #{$header_height_phone} -
    #{$header_bottom_margin} -
    #{$content_margin_bottom} -
    #{$footer_height_phone} -
    #{$footer_margin_bottom_phone});


//COLORS
$brand-primary: #2196F3;
$text-primary: #444444;
