$spacer: 15px;
$header_height : 100px;
$indicators_height : 60px;
$footer-height: 60px;

$brand-primary: #2196F3 !default;
//$brand-primary: #1F77B4 !default;
//$brand-primary: #b44d3a !default;
//$brand-primary: #44b461 !default;