@import "../../scss/_modules";

.indicators__indicators-list {
    max-height: 70vh;
    max-width: 70vw;
    overflow-y: auto;
    overflow-x: hidden;

    li {
        a {
            white-space: normal;
        }
    }
}
