@import "../../scss/_modules";

.footer{
    height: $footer-height;
    display: flex;
    align-items:center;
}

.footer--label {
    color: white;
    font-size: 14px;
    background: $brand-primary;
    padding-left: $spacer*2;
    padding-right: $spacer;
    line-height: 28px;
    width: max-content;
}