@import "../../scss/_modules";

.footer{
    height: $footer_height;
    display: flex;
    align-items:center;
    background: $brand-primary;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: max-content;
    //width: -moz-max-content;
    @include height-breakpoint($phone_height_breakpoint) {
        height: $footer_height_phone;
    }
}

.footer--label {
    color: white;
    font-size: 1.4rem;
    line-height: 2.8rem;
    padding-left: $spacer-horizontal*2;
    padding-right: $spacer-horizontal;

    @include height-breakpoint($phone_height_breakpoint) {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
}