@import "../../scss/_modules";

.header {
    height: $header_height;
    background: $brand-primary;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    @include height-breakpoint($phone_height_breakpoint){
        height: $header_height_phone;
    }
}

.logo {
    font-weight: 300;
    color: white;
    font-size: 3.4rem;
    line-height: 4.2rem;

    padding: 0 $spacer-horizontal 0 $spacer-horizontal * 2;

    @include height-breakpoint($phone_height_breakpoint){
        font-size: 2rem;
        line-height: 2rem;
    }
}