@import "../../scss/_modules";

.top-line{
    background: $brand-primary;
    height: 0.7rem;
    width: 100%;
}

.logo{
    font-size: 44px;
    font-weight: 300;
    text-transform: lowercase;
    color: $brand-primary;
    //line-height: 56px;
    margin-left: $spacer*2;
}