@import "../../scss/_modules";

.start__container {
    padding: $spacer*2;
    padding-top: $spacer * 15;
    h1 {
        font-size: 80px;
        line-height: 70px;
        font-weight: 300;
    }

    //background: radial-gradient(farthest-side ellipse at 10% 0, hsl(300, 100%, 95%), hsl(190, 50%, 70%) 80%, hsl(226, 40%, 60%) 120%);
    //position: fixed;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //opacity: 0;
    //transition: 2s;
    //
    //&--active {
    //    opacity: 1;
    //}
}

.start__description {
    padding-left: 12px;
    font-size: 20px;
}
