<div class="dropdown" >
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" ng-disabled="vm.isDisabled">
        Select countries
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu countries-min__list" aria-labelledby="dropdownMenu2">
        <li>
            <a href="#" ng-repeat="country in vm.countries" ng-click="vm.selectCountry(country)">{{
                country.name }} </a>
        </li>
    </ul>
</div>