@import "modules";

.chart__container {
    height: 100%;
    display:flex;
}

.chart__graph{
}

.scrubberText {
    font-size: 14px;
}

.graph-style__container{
    padding-left: $spacer*2;
    position: relative;
    top: -30px;

    .radio-inline{
        padding-right: $spacer/2;
    }
}