@import "modules";

.countries {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.countries__search {
}

.countries__list {
    user-select: none;
}

.countries__scroll {
    flex: 0 1 auto;
    overflow: hidden;
    position: relative;
}

.country {
    color: #444444;
}
