@import "modules";

.countries {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding-bottom: $spacer * 2;
}

.countries__search {
}

.countries__list {
    user-select: none;
}

.countries__scroll {
    flex: 0 1 auto;
    overflow: hidden;
    position: relative;
}

.country {
    color: #444444;
}

.selected-country--red{
    color: red;
}

.selected-country--green{
    color: green;
}

.selected-country--blue{
    color: blue;
}

.countries__selected-list {
    margin: $spacer*3 0 $spacer*2 0;
}

.selected-country {
    //@extend .lead;
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
}