@import "base";

.page {
    height: 100vh;
}

.content {
    margin: $spacer;
    height: calc(100% - #{$header_height});
}

.countries-wrapper {
    height: calc(100% - #{$header_height});
}

.indicators-wrapper {
}

.chart-wrapper {
}