@import "base";

.page {
    @extend .container-fluid;
}

.header {
    @include make-row(0);
    height: 100px;
}

.content {
    @include make-row(0);
}

.filter {
    @include make-md-column(3);
    height: auto;
    max-height: 800px;
    overflow-x: hidden;
}

.selected-countries{
    margin-bottom: 20px;
}

.selected-country{
}

.chart {
}

.chart__change-button{
    @extend .btn, .btn-default;
}

.chart__graph{
    @include make-row(0);
}

.footer {
    @include make-row(0);
    height: 100px;
}