<div class="series-view__container">
    <label class="radio-inline">
        <input type="radio" name="optradio" value="line" ng-model="vm.selectedType" ng-change="vm.selectType()">
        line
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio" value="area" ng-model="vm.selectedType" ng-change="vm.selectType()">
        area
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio" value="column" ng-model="vm.selectedType" ng-change="vm.selectType()">
        column
    </label>
</div>