<div class="filters__indicator dropdown" >
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" ng-disabled="vm.isDisabled">
        {{ vm.selectedIndicator.name }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu filters__indicator__indicators-list" aria-labelledby="dropdownMenu2">
        <li>
            <a href="#" ng-repeat="indicator in vm.indicators" ng-click="vm.selectIndicator(indicator)">{{
                indicator.name }} </a>
        </li>
    </ul>
</div>