<div class="page">
    <div class="header-wrapper">
        <div class="top-line"></div>
        <p class="logo">World Bank Data Viewer</p>
    </div>

    <div class="content">
        <div class="filters">
            <topics></topics>
            <indicators></indicators>
        </div>
        <div class="flex-container">
            <div class="countries-wrapper">
                <countries></countries>
            </div>

            <div class="chart-wrapper">
                <chart></chart>
            </div>
        </div>
    </div>
</div>