<div class="page">
    <div class="header-wrapper">
        <div class="top-line"></div>
        <p class="logo">World Bank Data Viewer</p>
    </div>

    <div class="content-wrapper">
        <div class="indicators-wrapper">
            <topics></topics>
            <indicators></indicators>
        </div>
        <div class="countries-chart">
            <countries class="countries-wrapper"></countries>

            <div class="chart-wrapper" >
                <selected-countries></selected-countries>
                <chart ng-show="vm.isVisible"></chart>
                <indicator-info></indicator-info>
            </div>
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="footer">
            <div class="footer--label">&#169; 2015 Moiden</div>
        </div>
    </div>
</div>