@import "../../scss/_modules";

.indicator-info__container{
    padding: $spacer $spacer*2 $spacer $spacer;

    text-align: right;
}

.indicator-info__name{
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
}