<!doctype html>
<!--suppress HtmlUnknownTag -->
<!--TODO ng-strict-di-->
<html data-ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide {
            display: none !important;
        }
    </style>

    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(./) styles/app.css-->
    <!-- inject:css -->
    <link rel="stylesheet" href="/.tmp/styles.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body>

<div class="page">
    <div class="page-header">
        <h2>World Bank Data Viewer</h2>
    </div>

    <div class="content">
        <div class="filter" ng-controller="CountriesController as vm">
            <div class="selected-countries">
                <ul>
                    <li ng-repeat="country in vm.selectedCountries">
                        <a href="#" ng-click="vm.deselectCountry(country)" class="selected-country">{{ country.name
                            }}</a>
                    </li>
                </ul>

            </div>
            <div>
                <input type="text" ng-model="vm.searchedCountry">
            </div>
            <div class="countries" ng-repeat="country in vm.countries | filter:vm.searchedCountry">
                <a href="#" ng-click="vm.selectCountry(country)">{{ country.name }}</a>
            </div>
        </div>
        <div class="row col-md-9" ng-controller="IndicatorsController as vm">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    {{ vm.selectedSource.name }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#" ng-repeat="source in vm.sources" ng-click="vm.selectSource(source)">{{ source.name }} </a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    {{ vm.selectedIndicator.name }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#" ng-repeat="indicator in vm.indicators" ng-click="vm.selectIndicator(indicator)">{{ indicator.name }} </a></li>
                </ul>
            </div>
            <div class="chart" ng-controller="Chart as vm">
                <div class="chart__graph">
                    <linechart data="vm.data" options="vm.options"></linechart>
                </div>
            </div>
        </div>


    </div>

    <div class="footer"></div>
</div>

<!-- build:js js/lib.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/d3/d3.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<script src="../bower_components/n3-line-chart/build/line-chart.min.js"></script>
<script src="../bower_components/lodash/lodash.js"></script>
<script src="../bower_components/restangular/dist/restangular.js"></script>
<script src="../bower_components/rxjs/dist/rx.all.js"></script>
<script src="../bower_components/angular-rx/dist/rx.angular.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js(./) js/app.js -->
<!-- inject:js -->
<script src="/src/app/app.module.js"></script>
<script src="/src/app/api/api.module.js"></script>
<script src="/src/app/chart/chart.module.js"></script>
<script src="/src/app/core/core.module.js"></script>
<script src="/src/app/filter/filter.module.js"></script>
<script src="/src/app/api/worldBank.config.js"></script>
<script src="/src/app/api/worldBank.js"></script>
<script src="/src/app/chart/chart.controller.js"></script>
<script src="/src/app/core/countries.js"></script>
<script src="/src/app/core/indicators.js"></script>
<script src="/src/app/core/sources.js"></script>
<script src="/src/app/filter/countries.controller.js"></script>
<script src="/src/app/filter/indicators.controller.js"></script>
<!-- endinject -->

<!-- inject:templates:js -->
<!-- endinject -->

<!-- endbuild -->

</body>

</html>